# Игнорируем виртуальные окружения, чтобы не отправлять их в Git и архив проекта без необходимости.
.venv/
venv/
env/

# Игнорируем системный файл переменных окружения, если позже ты его добавишь.
.env

# Игнорируем служебные файлы Python-кеша.
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем локальную базу данных SQLite, если не хочешь передавать ее в репозиторий.
db.sqlite3

# Игнорируем собранные статики, если позже будешь запускать collectstatic.
staticfiles/

# Игнорируем папки IDE, чтобы не засорять проект служебными файлами PyCharm и VS Code.
.idea/
.vscode/

# Игнорируем системные файлы Windows и macOS.
Thumbs.db
.DS_Store